nav {
  background-color: black;
  // height: 200px;
  .nav-wrapper{
    padding: 20px;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      a {
        color: inherit;
        text-decoration: none;
      }
      li{
        display: inline;
        color: white;
        img{
          vertical-align: middle;
          height: 100px;
          width: auto;
        }
      }
    }
  }
}

#menu-burger {
    height: 80px;
    line-height: 80px;
}

.image {
  flex-shrink: 0;
}

.welcome-box {
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  img {
    width: 100%;
    min-width: 800px;
  }
}

@media screen and (max-width: 950px) {
  .welcome-box{
    height: 500px;
    align-items: center;
  }
}

.schedule-box {
  margin-bottom: 50px;
#schedule-header {
  margin-top: 50px;
  margin-bottom: 50px;
}
}


.menu-pic {
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  img {
    width: 100%;
    min-width: 800px;
  }
}


.social {
  background-color: grey;
  overflow: hidden;
  img {
    width:100%;
    height: auto;
  }
}
