//mixins
@mixin for-phone-only {
  @media only screen and (max-width: 1000px) {
    @content;
  }
}
// * {
//   box-sizing: border-box;
// }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  padding: 0px;
  margin: 0px;
}

.nav-mobile {
  display: none;
}

#navbar {
  min-width: 300px;
  height: 130px;
  .navmobile {
  }
  .nav-logo{
    vertical-align: middle;
    height: 100px;
    width: auto;
  }
  @include for-phone-only {
    .nav-mobile {
      display: block;
      position: relative;
      #nav-burger {
        padding-top: 30px;
        float: left;
        vertical-align: middle;
        height: 60px;
      } #nav-logo-mobile {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50px;
        height: 100px;
        width: auto;
      }
    }
    ul {
      display: none;
    }
  }

  font-size: 1.5rem;
  background-color: black;
  .nav-wrapper{
    padding: 20px;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      a {
        color: inherit;
        text-decoration: none;
      }
      li{
        margin-right: 50px;
        display: inline;
        color: white;
      }
    }
  }
}



#menu-burger {
    height: 80px;
    line-height: 80px;
}

.image {
  flex-shrink: 0;
}

.carousel {
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  img {
    width: 100%;
    min-width: 800px;
  }
}

iframe {
  width: 100%;
}

@media screen and (max-width: 950px) {
  .welcome-box{
    height: 500px;
    align-items: center;
  }
}



.schedule-box {
  margin-bottom: 50px;
#schedule-header {
  margin-top: 50px;
  margin-bottom: 50px;
  }
}

.schedule-section {
  margin: 10px 0px;
  display: flex;
  .schedule-date {
    padding: 10px;
    background-color: #DA6727;
    color: white;
    .schedule-day {
      font-size: 1.5rem;
    }
  }
  .schedule-info {
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 20px;
    & > div:first-child{
      font-size: 1.4rem;
    }
    & > div:nth-child(2){
      font-style: italic;
    }
  }
}

.menu-pic {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  img {
    width: 100%;
    min-width: 800px;
  }
}

.menu-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  .menu-first-line {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


.flex-box-bg {
  background-color: black;
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.our-story-desktop {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  #our-story-title {
    color: #DA6727;
    z-index: 1;
    font-size: 8rem;
    white-space: nowrap;
    position: relative;
  }
  #story-pic {
    z-index:0;
  }
  @include for-phone-only {
    #our-story-title {
      font-size: 4rem;
    } #story-pic {
      width: 100%;
    }
  }
}

footer {
  background-color: black !important;
}
