.nav {
  background-color: grey;
  height: 90px;
  .nav-wrapper{
    padding: 20px;
    img{
      width: 40px;
      height: auto;
    }
  }
}

.image {
  flex-shrink: 0;
}

.welcome-box {
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  img {
    width: 100%;
    min-width: 800px;
  }
}

@media screen and (max-width: 950px) {
  .welcome-box{
    height: 500px;
    align-items: center;
  }
}

.schedule-box {
  margin-bottom: 50px;
#schedule-header {
  margin-top: 50px;
  margin-bottom: 50px;
}
}


.menu-pic {
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  img {
    width: 100%;
    min-width: 800px;
  }
}
